<!-- Call to Action-->
<section class="content-section bg-black text-white">
    <div class="container px-4 px-lg-5 text-center">
        <h2 class="mb-4">To contact me you can use the buttons below</h2>
        <a class="btn btn-xl btn-light me-4" href="tel:+56994438833">Call</a>
        <a class="btn btn-xl btn-dark" href="https://mail.google.com/mail/?view=cm&fs=1&to=emarvalr@gmail.com" target="blank_">Mail</a>
    </div>
</section>
<!-- Map-->
<div class="map" id="contact">
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d26547.423473704905!2d-70.7072172!3d-33.7237488!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2scl!4v1683948935159!5m2!1ses-419!2scl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>