<!-- Portfolio-->
<section class="content-section bg-black" id="portfolio">
    <div class="container px-4 px-lg-5">
        <div class="content-section-heading text-center">
            <h3 class="text-secondary mb-0">Portfolio</h3>
            <h2 class="mb-5 text-white">Recent Projects</h2>
        </div>
        <div class="row gx-0">
            <div class="col-lg-6">
                <a class="portfolio-item" href="#!">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h2">Loremipsum</div>
                            <p class="mb-0"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium numquam/p>
                        </div>
                    </div>
                    <%= image_tag('portfolio-1.jpg', class: 'img-fluid') %>
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="#!">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h2">Ice Cream</div>
                            <p class="mb-0"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium numquam</p>
                        </div>
                    </div>
                    <%= image_tag('portfolio-2.jpg', class: 'img-fluid') %>
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="#!">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h2">Strawberries</div>
                            <p class="mb-0"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium numquam</p>
                        </div>
                    </div>
                    <%= image_tag('portfolio-3.jpg', class: 'img-fluid') %>
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="#!">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h2">Workspace</div>
                            <p class="mb-0"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium numquam.</p>
                        </div>
                    </div>
                    <%= image_tag('portfolio-4.jpg', class: 'img-fluid') %>
                </a>
            </div>
        </div>
    </div>
</section>